<p-table *ngIf="contacts"
         [value]="contacts"
         [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <button pButton
                id="addContact"
                pRipple
                type="button"
                icon="pi pi-plus"
                class="p-button-rounded p-button-info"
                (click)="addContact.emit()"></button>
      </th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-contact
               let-expanded="expanded">
    <tr>
      <td>
        <button pButton
                pRipple
                type="button"
                icon="pi pi-user"
                [routerLink]="['/contacts', contact.id ]"
                class="p-button-rounded p-button-info show-details-button"></button>
      </td>
      <td> {{contact.fullName}}</td>
      <td>{{contact.address}}</td>
    </tr>
  </ng-template>
</p-table>